body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile {
    max-width: 800px;
    margin: 2rem;
    padding: 2rem;
    background: #fff;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
}

.profile-header {
    margin-bottom: 2rem;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: 2px solid #ccc;
}

.profile h1 {
    color: #333;
    margin-bottom: 0.5rem;
}

.intro {
    color: #777;
    font-style: italic;
    margin-bottom: 2rem;
}

.personal-details {
    margin-bottom: 2rem;
    background: #f9f9f9;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    border: 1px solid #ddd;
}

.personal-details p {
    margin: 0.5rem 0;
    color: #555;
}

.personal-details a {
    color: #007BFF;
    text-decoration: none;
}

.personal-details a:hover {
    text-decoration: underline;
}

.section {
    margin-bottom: 2rem;
}

.section h2 {
    color: #555;
    margin-bottom: 0.5rem;
}

.section p,
.section ul {
    color: #666;
}

.section ul {
    list-style-type: square;
    padding-left: 1.5rem;
    text-align: left;
    display: inline-block;
}

.section ul li {
    margin-bottom: 0.5rem;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
