* {
    margin: 0;
    box-sizing: border-box;
}

.nav-bar {
    height: 70px;
    width: 100%;
    background-color: #FFFFFF;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu {
    margin-top: 15px;
    font-size: 1.5rem;
}

.nav-logo {
    height: 60px;
    width: 70px;
}

.flip-logo {
    height: 60px;
    width: 70px;
    background-image: url("flip_logo.jpg");
    background-size: cover;
}

.search-bar {
    height: 40px;
    width: 430px;
    background-color: #bde0fe;
    display: flex;
    justify-content: space-evenly;
    border-radius: 5px;
    overflow: hidden;
}

.search {
    height: 40px;
    width: 400px;
    background-color: #bde0fe;
    border: none;
}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    margin: 10px;
    color: #00b4d8;
}

.nav-login {
    height: 41px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
}

.nav-login:hover,
.nav-select:hover {
    background-color: blue;
}

.login-icon {
    color: black;
    font-size: 1.5rem;
    margin-top: 10px;
    margin-right: 5px;
}

.nav-select {
    border: none;
    font-size: 1.25rem;
    cursor: pointer;
    font-weight: 50;
}

.nav-cart {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-bar {
    height:175px;
    width: 100%;
    background-color: aliceblue;
    display: flex; /* Add display flex */
    flex-direction: row;
    justify-content: space-evenly;
}

.box {
    height: 120px;
    width: 25%;
    /**border: 1px solid black;**/
    padding: 10px;
}
.box-image{
    height:105px;
    background-size: cover;
    margin-bottom: 10px;
}
.main-page{
    height:250px;
    background-color:aliceblue;
    padding: 20px;;
}
.image1{
    height:200px;
    width:100%;
    background-size: cover;
}
.para{
    height:40px;
    width:100%;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 20px;;
}
.container1{
    height:300px;
    width:100%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    padding:10px;
    background-color:white;
}

.boxes{
    height:280px;
    width:25%;
    background-size: cover;
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;

}
.img{
    height:230px;
    background-size: cover;
}
.container2{
    height:250px;
    width:100%;
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    padding:10px;
    background-color:#f8f9fa;
}

.boxes2{
    height:210px;
    width:70%;
    background-color: white;
    background-size: cover;
    border: 1px solid black;
    padding: 20px;
    border-radius: 2px;
    margin: 10px;
}
.img2{
    height:180px;
    background-size: cover;  
}
.panel1 a{
    display: block;
    align-items:center;
    font-weight: 200;
    cursor:pointer;
} 
.panel1 a:hover{
    text-decoration:underline;
}
.foot-panel{
    height:300px;
    width:100%;
    background-color: black;
    color:white;
    display:flex;
    justify-content: space-evenly;
    padding: 50px;
}
.foot-panel p{
    color:aqua;
    margin-bottom: 20px;
    font-weight: 600;
    
}
.icons{
    color:yellow;
    margin-left: 30px;
}
.least-panel{
    height:60px;
    background-color: black;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.least-panel a{
    color:white;
    font-weight: 200;
    cursor:pointer;
}
   
